html {
   background:url("img/wood-plant-min.jpg");
   background-size:100% auto;
   -webkit-background-size: 100% auto;
}

body {
   max-width:960px;
   padding:10px;
   padding-top:20px;
   margin:auto;
   }

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

/********************************
   HEADER
********************************/

.logo,
.description {
display:block;
float:left;
}

.logo {
	width:200px;
	padding-top:40px;
	padding-left:50px;
}

.logo-pic {
	width:75%;
}

.question {
padding-left:10px;
font-size:16px;
color:#002965;
font-style:italic;
font-weight:bold;

}

.telephone-code {
	width:20px;
	display:inline;
	text-align:right;
	padding-left:200px;
	font-style:italic;
	font-weight:bold;
	color:#002b65;
}

.telephone-main {
width:70px;
display:inline;
text-align:right;
font-size:26px;
font-style:italic;
font-weight:bold;
}

.telephone-skype {
	color:black;
	font-weight:bold;
}

.description {
max-width:380px;
padding-left:20px;
font-weight:bold;
}

.worker {
display:block;
float:right;
width:250px;
max-height:325px;
padding-right:30px;
}

.worker-pic {
width:130%;

}


/********************************
     NVIGATION
********************************/
.navigation {
width:100%;
height:30px;
clear:both;
}

.navigation-list {
list-style:none;
height:40px;
background:-webkit-linear-gradient(top, #474339 0%, #484339 25%, #646253 50%, #484339 75%, #474339 100%);
background:-moz-linear-gradient(top, #474339 0%, #484339 25%, #646253 50%, #484339 75%, #474339 100%);
background:-o-linear-gradient(top, #474339 0%, #484339 25%, #646253 50%, #484339 75%, #474339 100%);
background:-ms-linear-gradient(top, #474339 0%, #484339 25%, #646253 50%, #484339 75%, #474339 100%);
background:linear-gradient(top, #474339 0%, #484339 25%, #646253 50%, #484339 75%, #474339 100%);
border-radius:10px;
box-shadow:1px 2px 5px grey;
}

.nav-button {
	vertical-align:middle;
	margin-top:5px;
	margin-bottom:auto;
	text-align:center;
	color:white;
	width:100px;
	height:30px;
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
}

.nav-button span {
	line-height:25px;
}

.nav-button:nth-child(1),
.nav-button:nth-child(2),
.nav-button:nth-child(3),
.nav-button:nth-child(4) {
margin-right:70px;
}

.nav-button:hover {
	background:-webkit-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:-moz-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:-o-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:-ms-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
border-radius:12px;
box-shadow:1px 1px 3px #3c352c;
}

.nav-button:active {
	background:-webkit-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:-moz-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:-o-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:-ms-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
border-radius:12px;
box-shadow:inset 1px 1px 3px #3c352c;
}

.selected {
	background:-webkit-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:-moz-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:-o-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:-ms-linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
background:linear-gradient(top, #d1353c 0%, #b73340 25%, #8b3147 50%, #62304e 75%, #31305a 100%);
border-radius:12px;
box-shadow:inset 1px 1px 3px #3c352c;
}

.nav-button a {
	line-height:25px;
	color: white;
	text-decoration:none;
}

/************************************
    SLIDER
*************************************/

.slider {
	width:100%;
	min-height:250px;
	margin:auto;
	margin-top:50px;
}    

.container-content-wrapper {
	background-color:rgba(243, 203, 164, 0.5);
	border-radius:10px;
	display: inline-block;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:15px;
}

.slider-positioner {
	max-width:820px;
	margin:auto;
}

.slider-pic {
padding-left:15px;
padding-right:15px;
	width:25%;
}

.slider-text {
	display:inline-block;
	max-width:450px;
	padding-left:30px;
}

.slider-button {
	display:inline-block;
	margin-bottom:45px;
}


.slider-button-right {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 20px solid #b9a885;
	border-bottom: 20px solid transparent;
}

.slider-button-right:hover {border-right: 20px solid #0072aa;}

.slider-button-left {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid #b9a885;
	border-bottom: 20px solid transparent;
}

.slider-button-left:hover {
		border-left: 20px solid #0072aa;
}

/***********************************
      Main-text on the MAIN PAGE
***********************************/

.text-container {
width:100%;
height:650px;
margin-right:auto;
margin-left:auto;
border-radius:10px;
overflow:hidden;
box-shadow:1px 1px 5px #ead3a7;
}

.service {
width:25%;
height:100%;
background-color:#e9e3d9;
display:inline-block;
margin:0;
vertical-align:top;
}

.service-nav {
	list-style:none;
	margin-top:80px;
	padding-left:0;
}

.service-nav li {
	margin-bottom:40px;
	text-align:center;
}

.service-description {
width:50%;
height:100%;
background-color: #feefd9;
display:inline-block;
margin:0;
vertical-align:top;
}

.service-description-pic {
width:100%;
margin-top:30px;
margin-bottom:40px;
}

.service-description article {
	margin-left: 30px;
	margin-right: 30px;
}

.latest-works {
width:25%;
height:100%;
background-color:#e9e3d9;
display:inline-block;
margin:0;
vertical-align:top;
}

.latest-works-pic {
	height:120px;
	width:180px;
	margin-right:auto;
	margin-left:auto;
	margin-top:45px;
	margin-bottom:45px;
}

.latest-works-pic-1 {
	background: url("img/6.JPG") 50%;
	-webkit-background-size: cover;
	background-size: cover;
	border:5px solid #fee6b5;
}
.latest-works-pic-2 {
	background: url("img/3.JPG") 50%;
	-webkit-background-size: cover;
	background-size: cover;
	border:5px solid #fee6b5;
}
.latest-works-pic-3 {
	background: url("img/2.JPG") 50%;
	-webkit-background-size: cover;
	background-size: cover;
	border:5px solid #fee6b5;
	margin-bottom:30px;
}

.service h2,
.service-description h2,
.latest-works h2 {
	font-style:italic;
	font-size:20px;
	text-align:center;
margin:0;
color:#5b584a;
padding-top:20px;
padding-left:10px;
padding-right:10px;
}

.latest-works-button {
background-color:#3a3b49;
border-radius:12px;
text-align:center;
width:50%;
height:30px;
line-height:25px;
margin-left:auto;
margin-right:auto;
position:relative;
box-shadow:1px 1px 1px grey;
}

.latest-works-button span {
	color:white;
	width:100%;
	top:5px;
	left:0px;
	position:absolute;
	top:1px;
}



/***********************************
     OUR WORKS
***********************************/
.our-works {
	text-align:center;
	margin-top:50px;
	margin-bottom:2px;
	text-shadow:1px 1px 3px white;
}



hr {
	 border: 0;
    height: 1px;
    background: black;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.our-works-card {
	width:90%;
	min-height:200px;
	margin-bottom:30px;
	padding-top:40px;
	padding-bottom:40px;
	padding-right:1px;
	pading-left:1px;
	margin-left:auto;
	margin-right:auto;
	 transition:0.5s ease-out;
}

.our-works-card:hover {
background:rgba(243, 203, 164, 0.8);
border-radius:10px;
box-shadow:0px 0px 5px grey;
transform:scale(1.1);
}


.our-works-img:nth-child(odd) {
	float:left;
	margin-left:30px;
}

.our-works-card:hover .our-works-img:nth-child(odd) {
	padding-left:40px;
}

.our-works-img:nth-child(even) {
	float:right;
	margin-right:30px;
}

.our-works-card:hover .our-works-img:nth-child(even) {
	padding-right:40px;
}

.our-works-card-text:nth-child(odd) {
	float:left;
	padding-left:60px;
	color:#f0f0f0;
	transition:0.5s ease-out;
}


.our-works-card-text:nth-child(even) {
	float:right;
	padding-right:60px;
	color:#f0f0f0;
	transition:0.5s ease-out;
}

.our-works-card:hover .our-works-card-text {
	color:#000;
}


.our-works-img {
  display:inline-block;
  width:200px;
  height:200px;
  border-radius:50%;
  transition:0.7s ease-out;
}

.our-works-card:hover .our-works-img {
	border-radius:5px;
	box-shadow:0px 0px 5px grey;
}

.our-works-img-1 {
	background:url("img/11.JPG");
	 background-size: cover;
   -webkit-background-size: cover;
}
.our-works-img-2 {
	background:url("img/12.JPG");
	 background-size:cover;
   -webkit-background-size: cover;
}
.our-works-img-3 {
	background:url("img/13.JPG");
	-webkit-background-size: cover;
	background-size: cover;
}
.our-works-img-4 {
	background:url("img/14.JPG");
	-webkit-background-size: cover;
	background-size: cover;
}
.our-works-img-5 {
	background:url("img/15.JPG");
	-webkit-background-size: cover;
	background-size: cover;
}


.our-works-card-text {
display:inline-block;
width:50%;
height:200px;
line-height:20px;
padding-top:20px;
}


/***********************************
      BLOG
***********************************/

.content {
margin:auto;
margin-top:70px;
} 

.post {
	width:90%;
	margin-bottom:20px;
	margin-right:auto;
	margin-left:auto;
	padding:30px;
	padding-top:10px;
	background-color:rgba(243, 203, 164, 0.8);
	border-radius:15px;
	box-shadow:0px 0px 5px grey;
	position:relative;
}     

.post span {
	line-height:23px;
	border-radius:30px;
	color:grey;
	background-color:rgba(256,256,256,0.5);
	vertical-align:middle;
	text-align:center;
position:absolute;
display:inline-block;
height:25px;
width:60px;
top:83%;
left:92%;
}



/***********************************
       JOB-OFFERS
***********************************/

.animated-add {
	margin-top:60px;
	width:100%;
}

.animated-add img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/***********************************
       CONTACT
***********************************/

 #map {
        width: 400px;
        height: 300px;
        margin-top:40px;
        }

/***********************************
      FOOTER
***********************************/
footer {
text-align:center;
}
.copyright {
color:#d9c292;
margin-bottom:0;
}      

.tel {
color:black;
font-weight:900;
margin-top:0;
}